button,
a.button,
div.button {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  margin: .2rem 0;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.3rem;
  border: 1px solid;
  text-align: center;
  white-space: nowrap;
  display: inline-block;


  &:hover {
    text-decoration: none;
  }

  &.btn--primary {
    @include colorselect(background-color, $button-primary-bg);
    @include colorselect(color, $button-primary-text);
    @include colorselect(border-color, $button-primary-border);

    &:hover {
      @include colorselect(background-color, $button-primary-hover-bg);
    }
  }

  &.btn--secondary {
      @include colorselect(background-color, $button-secondary-bg);
      @include colorselect(color, $button-secondary-text);
      @include colorselect(border-color, $button-secondary-border);

      &:hover {
        @include colorselect(background-color, $button-secondary-hover-bg);
      }
  }

  &.btn--success {
      @include colorselect(background-color, $button-success-bg);
      @include colorselect(color, $button-success-text);
      @include colorselect(border-color, $button-success-border);

      &:hover {
        @include colorselect(background-color, $button-success-hover-bg);
      }
  }

  &.btn--warning {
      @include colorselect(background-color, $button-warning-bg);
      @include colorselect(color, $button-warning-text);
      @include colorselect(border-color, $button-warning-border);

      &:hover {
        @include colorselect(background-color, $button-warning-hover-bg);
      }
  }

  &.btn--danger {
      @include colorselect(background-color, $button-danger-bg);
      @include colorselect(color, $button-danger-text);
      @include colorselect(border-color, $button-danger-border);

      &:hover {
        @include colorselect(background-color, $button-danger-hover-bg);
      }
  }


  &.btn--small {
    font-size: 1rem;
    line-height: 1.1rem;
    padding: 3px;
    margin: .2rem 0px;
  }

  &.btn--large {
    font-size: 1.6rem;
    line-height: 1.7rem;
    padding: 12px;
    margin: .2rem 0px;
  }
}
