th {
  text-align: start;
}
table {
  width: 100%;
  background-color: var(--c-table-bg);
  color: var(--c-table-text);
  vertical-align: top;
  border: 0;
  border-spacing: 0;

  tbody {

    tr {
      &:nth-of-type(odd) {
        background-color: var(--c-table-alternate-bg);
      }
    }
  }
}
