th {
  text-align: start;
}
table {
  width: 100%;
  @include colorselect(background-color, $c-table-bg);
  @include colorselect(color, $c-table-text);
  vertical-align: top;
  border: 0;
  border-spacing: 0;

  tbody {

    tr {
      &:nth-of-type(odd) {
        @include colorselect(background-color, $c-table-alternate-bg);
      }
    }
  }
}
