.select__wrapper {
  display: inline-flex;
  height: $wrapper-height;
  min-height: $wrapper-height;
  line-height: $wrapper-height;
  @include colorselect(background-color, $c-select-bg);
  @include colorselect(color, $c-select-text);
  width: auto;
  position: relative;
  &>select {
    appearance: none;
    border: none;
    height: 100%;
    background-color: transparent;
    @include colorselect(color, $c-select-text)
    padding-right: 1.5rem;
    outline: none;
    &:focus,
    &:hover {
      outline: none;
    }
    &:-moz-focusring {
      @include colorselect(color, $c-transparent)
      @include colorselect(text-shadow, $c-select-text, "0 0 0")
    }
  }
  &:before {
    content: "\25BE";
    padding: 0 .6rem;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
