.select__wrapper {
  display: inline-flex;
  height: $wrapper-height;
  min-height: $wrapper-height;
  line-height: $wrapper-height;
  background-color: var(--c-select-bg);
  color: var(--c-select-text);
  width: auto;
  position: relative;
  &>select {
    appearance: none;
    border: none;
    height: 100%;
    max-width: 100%;
    background-color: transparent;
    color: var(--c-select-text);
    padding-right: 1.5rem;
    padding-left: .2rem;
    outline: none;
    &:focus,
    &:hover {
      outline: none;
    }
    &:-moz-focusring {
      color: var(--c-transparent);
      text-shadow: 0 0 0 var(--c-select-text)
    }
    & option {
    background-color: var(--c-select-bg);
    color: var(--c-select-text);
    }
  }
  &:before {
    content: "\25BE";
    padding: 0 .6rem;
    pointer-events: none;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
