// Color Definition
$white-00: rgba(255, 255, 255, 1);
$white-01: rgba(240, 240, 240, 1);
$white-02: rgba(190, 190, 190, 1);
$white-03: rgba( 65,  65,  65, 1);
$black-03: rgba( 35,  35,  35, 1);
$black-02: rgba( 20,  20,  20, 1);
$black-01: rgba(  8,   8,   8, 1);
$black-00: rgba(  0,   0,   0, 1);

$color-01: rgba( 52, 152, 219, 1);		// Primary Color, Brand
$color-02: rgba(101, 182,  25, 1);		// Success Color
$color-03: rgba(230, 126,  34, 1);		// Warning Color
$color-04: rgba(192,  57,  43, 1);		// Error Color


  // Color usage matrix:         LIGHT THEME:             DARK THEME:              DARKEST THEME:                   COLOR DESCRIPTION:
       $body-background:         $white-00,               $black-01,               $black-00;                    // Common Background-Color for the whole document
             $body-text:         $black-01,               $white-01,               $white-00;                    // Common Text-Color for the whole document

        $nav-background:         $white-01,               $black-03,               $color-01;                    // Background-Color for Navigation Bar
              $nav-text:         $black-01,               $white-01,               $white-00;                    // Common Text-Color for Navigation Bar
            $nav-border:         $white-02,               $white-03,        darken($color-01, 10%);              // Color of the bottom border of the Navigation Bar
 $navitem-hover-bgcolor:         $color-01,               $color-01,        darken($color-01, 10%);              // Background-Color for hovererd/focused Navigation-Items
$navitem-active-bgcolor:  darken($color-01, 10%),  darken($color-01, 10%),  darken($color-01, 20%);              // Background-Color on active Navigation-Items
$navitem-hovact-bgcolor:  darken($color-01, 20%),  darken($color-01, 20%),  darken($color-01, 30%);              // Background-Color on active AND hovered/focused Navigation-Items
    $navitem-hover-text:         $black-01,               $white-01,               $white-00;                    // Text-Color for hovered/focused Navigation-Items
   $navitem-active-text:         $white-01,               $white-01,               $white-00;                    // Text-Color for active Navigation-Items
   $navitem-hovact-text:         $white-01,               $white-01,               $white-00;                    // Text-Color for active AND hovered/focused Navigation-Items

            $link-color:  darken($color-01, 10%),         $color-01,               $color-01;                    // Common <a>-Link Color
      $link-hover-color:         $color-01,        darken($color-01, 10%),  darken($color-01, 10%);              // Common <a>-Link Color for hovered elements

         $color-success:         $color-02,               $color-02,               $color-02;                    // Success Color
         $color-warning:         $color-03,               $color-03,               $color-03;                    // Warning Color
           $color-error:         $color-04,               $color-04,               $color-04;                    // Error Color


// Color selector mixin
@mixin colorselect($attribute, $color, $prestring: null, $sufstring: null) {
  // Dark Theme is standard.
  #{$attribute}: #{$prestring} dark($color) #{$sufstring};

  // If browser specifically requests light scheme, then deliver.
  @media(prefers-color-scheme: light) {
    #{$attribute}: #{$prestring} light($color) #{$sufstring};
  }

  // If element also has a class to force a theme, use this theme instead:
  &.force-theme-darkest {
    // Force darkest (black) theme
    #{$attribute}: #{$prestring} darkest($color) #{$sufstring} !important;
  }

  &.force-theme-dark {
    // Force dark (default) theme
    #{$attribute}: #{$prestring} dark($color) #{$sufstring} !important;
  }

  &.force-theme-light {
    // Force light theme
    #{$attribute}: #{$prestring} light($color) #{$sufstring} !important;
  }
}
