// Color Definition
$white-00: rgba(255, 255, 255, 1);
$white-01: rgba(240, 240, 240, 1);
$white-02: rgba(190, 190, 190, 1);
$white-03: rgba(150, 150, 150, 1);
$white-04: rgba(100, 100, 100, 1);
$black-04: rgba( 65,  65,  65, 1);
$black-03: rgba( 35,  35,  35, 1);
$black-02: rgba( 20,  20,  20, 1);
$black-01: rgba(  8,   8,   8, 1);
$black-00: rgba(  0,   0,   0, 1);

$color-01: rgba( 52, 152, 219, 1);    // Primary Color, Brand
$color-02: rgba( 98,  43, 219, 1);    // Secondary Color
$color-03: rgba(101, 182,  25, 1);    // Success Color
$color-04: rgba(230, 126,  34, 1);    // Warning Color
$color-05: rgba(192,  57,  43, 1);    // Error Color

$color-06: rgba(255, 210, 160, 1);    // Highlight Color #1
$color-07: rgba(192,  57,  43, 1);    // Highlight Color #2


//         Color usage matrix:         LIGHT THEME:             DARK THEME:              DARKEST THEME:                   COLOR DESCRIPTION:
               $c-transparent:         transparent,             transparent,             transparent;                  // Transparent
           $c-body-background:         $white-00,               $black-02,               $black-00;                    // Common Background-Color for the whole document
                 $c-body-text:         $black-01,               $white-01,               $white-00;                    // Common Text-Color for the whole document

            $c-nav-background:         $white-01,               $black-04,               $color-01;                    // Background-Color for Navigation Bar
                  $c-nav-text:         $black-01,               $white-01,               $white-00;                    // Common Text-Color for Navigation Bar
                $c-nav-border:         $white-02,               $white-04,        darken($color-01, 10%);              // Color of the bottom border of the Navigation Bar
          $c-navitem-hover-bg:         $color-01,               $color-01,        darken($color-01, 10%);              // Background-Color for hovererd/focused Navigation-Items
         $c-navitem-active-bg:  darken($color-01, 10%),  darken($color-01, 10%),  darken($color-01, 20%);              // Background-Color on active Navigation-Items
         $c-navitem-hovact-bg:  darken($color-01, 20%),  darken($color-01, 20%),  darken($color-01, 30%);              // Background-Color on active AND hovered/focused Navigation-Items
        $c-navitem-hover-text:         $black-01,               $white-01,               $white-00;                    // Text-Color for hovered/focused Navigation-Items
       $c-navitem-active-text:         $white-01,               $white-01,               $white-00;                    // Text-Color for active Navigation-Items
       $c-navitem-hovact-text:         $white-01,               $white-01,               $white-00;                    // Text-Color for active AND hovered/focused Navigation-Items

                $c-link-color:  darken($color-01, 10%),         $color-01,               $color-01;                    // Common <a>-Link Color
          $c-link-hover-color:         $color-01,        darken($color-01, 10%),  darken($color-01, 10%);              // Common <a>-Link Color for hovered elements

             $c-color-success:         $color-03,               $color-03,               $color-03;                    // Success Color
             $c-color-warning:         $color-04,               $color-04,               $color-04;                    // Warning Color
               $c-color-error:         $color-05,               $color-05,               $color-05;                    // Error Color

              $c-codeblock-bg: lighten($color-06, 15%),         $black-03,               $black-01;                    // <code> Background-Color
            $c-codeblock-text:         $color-05,               $color-06,               $color-06;                    // <code> Text-Color


           $button-primary-bg:         $color-01,               $color-01,               $color-01;                    // Primary Button Background-Color
       $button-primary-border:  darken($color-01, 10%), lighten($color-01, 10%), lighten($color-01, 10%);              // Primary Button Border-Color
     $button-primary-hover-bg:  darken($color-01, 10%), lighten($color-01, 10%), lighten($color-01, 10%);              // Primary Button Hover Background-Color
         $button-primary-text:         $black-01,               $white-01,               $white-00;                    // Primary Button Text-Color

         $button-secondary-bg:         $color-02,               $color-02,               $color-02;                    // Secondary Button Background-Color
     $button-secondary-border:  darken($color-02, 10%), lighten($color-02, 10%), lighten($color-02, 10%);              // Secondary Button Border-Color
   $button-secondary-hover-bg:  darken($color-02, 10%), lighten($color-02, 10%), lighten($color-02, 10%);              // Secondary Button Hover Background-Color
       $button-secondary-text:         $black-01,               $white-01,               $white-00;                    // Secondary Button Text-Color

           $button-success-bg:         $color-03,               $color-03,               $color-03;                    // Success Button Background-Color
       $button-success-border:  darken($color-03, 10%), lighten($color-03, 10%), lighten($color-03, 10%);              // Success Button Border-Color
     $button-success-hover-bg:  darken($color-03, 10%), lighten($color-03, 10%), lighten($color-03, 10%);              // Success Button Hover Background-Color
         $button-success-text:         $black-01,               $white-01,               $white-00;                    // Success Button Text-Color

           $button-warning-bg:         $color-04,               $color-04,               $color-04;                    // Warning Button Background-Color
       $button-warning-border:  darken($color-04, 10%), lighten($color-04, 10%), lighten($color-04, 10%);              // Warning Button Border-Color
     $button-warning-hover-bg:  darken($color-04, 10%), lighten($color-04, 10%), lighten($color-04, 10%);              // Warning Button Hover Background-Color
         $button-warning-text:         $black-01,               $white-01,               $white-00;                    // Warning Button Text-Color

            $button-danger-bg:         $color-05,               $color-05,               $color-05;                    // Danger Button Background-Color
        $button-danger-border:  darken($color-05, 10%), lighten($color-05, 10%), lighten($color-05, 10%);              // Danger Button Border-Color
      $button-danger-hover-bg:  darken($color-05, 10%), lighten($color-05, 10%), lighten($color-05, 10%);              // Danger Button Hover Background-Color
          $button-danger-text:         $black-01,               $white-01,               $white-00;                    // Danger Button Text-Color

                  $c-table-bg:         $white-02,               $black-02,               $black-02;                    // Table Background-Color
        $c-table-alternate-bg:         $white-01,               $black-03,               $black-03;                    // Table Alternating Background-Color
                $c-table-text:         $black-01,               $white-01,               $white-00;                    // Table Text-Color

                 $c-select-bg:         $white-02,               $black-03,               $black-02;                    // Select Input Background-Color
               $c-select-text:         $black-01,               $white-01,               $white-00;                    // Select Input Text-Color
