
// Everything under breakpoint "small" is called "small screen"
// Everything between breakpoints "small, medium" is called "medium screen"
// Everything between breakpoints "medium, large" is called "large screen"
// Everything above breakpoint "large" is called "largest screen".
$breakpoint-small: 768px !default;
$breakpoint-medium: 1024px !default;
$breakpoint-large: 1200px !default;

// Container Width for small, medium, large and largest screens
$container-width: .95, .85, .77, .70;
$container-footer-denominator: 2, 2, 2, 2;

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
$font-size-small: 15.5px !default;
$font-size-medium: 15.8px !default;
$font-size-large: 16.2px !default;
$font-size-largest: 16.5px !default;
$font-line-height: 1.5rem;

$navbar-height: 50px !default;
