/* ##################
 * #
 * # GENERAL SETTINGS
 * #
 * ##################
 */
// If the browser doesn't support @prefers-color-schemes, should
// Light theme be the fallback default instead of Dark Theme?
$no-scheme-compat-fallback-light: 0

/* ##################
 * #
 * #     LAYOUT
 * #
 * ##################
 */
// Everything under breakpoint "small" is called "small screen"
// Everything between breakpoints "small, medium" is called "medium screen"
// Everything between breakpoints "medium, large" is called "large screen"
// Everything above breakpoint "large" is called "largest screen".
$breakpoint-small: 768px !default;
$breakpoint-medium: 1024px !default;
$breakpoint-large: 1200px !default;
//Breakpoint list for use in loops
$breakpoints: $breakpoint-small, $breakpoint-medium, $breakpoint-large;

// Container Width for small, medium, large and largest screens
$container-width: .95, .85, .77, .70 !default;
$container-footer-denominator: 2, 2, 2, 2 !default;

// Footer
$footer-spacing: 40px !default;




/* ##################
 * #
 * #   TYPOGRAPHY
 * #
 * ##################
 */

// Font Stack using the default Bootstrap fontstack.
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;
// Font sizes for different screen sizes to maintain readability while being responsive.
$font-size-small: 15.5px !default;
$font-size-medium: 15.8px !default;
$font-size-large: 16.2px !default;
$font-size-largest: 16.5px !default;
// Default line height depends on the given font size per screen size and is relative to the root
$font-line-height: 1.5rem !default;


/* ##################
 * #
 * #     MODULES
 * #
 * ##################
 */

/*
 *   NAVIGATION BAR
 */
$navbar-height: 50px !default;
