*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: var(--c-body-background);
  color: var(--c-body-text)
}

a {
  text-decoration: none;
  transition: all 0.1s;
  &:hover {
    text-decoration: underline;
    color: var(--c-link-hover-color);
  }
  color: var(--c-link-color);
}

// Always hide an element with the 'hidden' HTML attribute
[hidden] {
  display: none !important;
}

.theme-scheme-animate {
  transition: color 500ms ease-in-out,
              background-color 500ms ease-in-out,
              border 500ms ease-in-out,
              shadow 500ms ease-in-out;
}
