.container {
  margin: 0 auto;
  padding: 0 0;
  width: percentage(nth($container-width, 1));

  @include override-medium-screen {
    width: percentage(nth($container-width, 2));
  }

  @include override-large-screen {
    width: percentage(nth($container-width, 3));
  }

  @include override-largest-screen {
    width: percentage(nth($container-width, 4));
  }
}

main {
  @include clearfix;
}

// footer is using large paddings instead of "width + margin: auto"
// just to make it possible to color in the footer in a different
// background color than the body.
footer {
  width: 100%;
  margin: 0 0;
  margin-top: $footer-spacing;
  padding: 0 percentage((1 - nth($container-width, 1))/nth($container-footer-denominator, 1));

  @include override-medium-screen {
    padding: 0 percentage((1 - nth($container-width, 2))/nth($container-footer-denominator, 2));
  }

  @include override-large-screen {
    padding: 0 percentage((1 - nth($container-width, 3))/nth($container-footer-denominator, 3));
  }

  @include override-largest-screen {
    padding: 0 percentage((1 - nth($container-width, 4))/nth($container-footer-denominator, 4));
  }
}

.clearfix {
  @include clearfix;
}
