:root {
  font-family: $font-stack;
  font-weight: normal;
  line-height: $font-line-height;


  font-size: $font-size-small;

  @include override-medium-screen {
    font-size: $font-size-medium;
  }

  @include override-large-screen {
    font-size: $font-size-large;
  }

  @include override-largest-screen {
    font-size: $font-size-largest;
  }

}

.align-left {
  text-align: left;
}

.align-start {
  text-align: start;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify
}

.text {
  font-size: 1rem;
  hyphens: manual;
  line-height: 1.5rem;

  @include override-medium-screen {
    line-height: 1.6rem;
  }

  @include override-large-screen {
    line-height: 1.7rem;
  }

  @include override-largest-screen {
    line-height: 1.8rem;
  }
}

.text-autolayout {
  text-align: justify;

  @include override-medium-screen {
    text-align: start;
  }
}

main {
  @extend .text;
  @extend .text-autolayout;
}

code {
  font-family: monospace;
  @include colorselect(background-color, $c-codeblock-bg);
  @include colorselect(color, $c-codeblock-text);
  border-radius: 0.1rem;
  padding: 2px;
  &.block {
    display: block;
    white-space: pre-wrap;
  }
}

codeblock,
pre {
  display: block;
  white-space: pre-wrap;
  font-family: monospace;
  @include colorselect(background-color, $c-codeblock-bg);
  @include colorselect(color, $c-codeblock-text);
  border-radius: 0.2rem;
  padding: 2px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: start;
  //margin: 2rem 0 1.5rem 0;
  //padding: 0;
}

h1 {
  font-size: 2.0rem;
  line-height: 2.1rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.6rem;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.4rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.3rem;
}

h6 {
  font-size: 1.1rem;
  line-height: 1.2rem;
}
