html {
	line-height: $font-line-height;

	font-size: $font-size-small;

  @include override-medium-screen {
		font-size: $font-size-medium;
	}

	@include override-large-screen {
    font-size: $font-size-large;
  }

  @include override-largest-screen {
    font-size: $font-size-largest;
  }

	font-weight: normal;
}

.text {
	font-size: 1rem;
	hyphens: manual;
	line-height: 1.5rem;

	@include override-medium-screen {
		line-height: 1.6rem;
	}

	@include override-large-screen {
		line-height: 1.7rem;
	}

	@include override-largest-screen {
		line-height: 1.8rem;
	}
}

.text-autolayout {
	text-align: justify;

	@include override-medium-screen {
		text-align: start;
	}
}

main {
	@extend .text;
	@extend .text-autolayout;

	margin-top: $navbar-height;

	@include override-medium-screen {
		margin-top: 0;
	}
}

code {
	font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: start;
	line-height: 1.2rem;
}
